<div class="row">
  <!-- card1 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
    </div>
  </div>

  <div class="col-md-12 ">
      <app-card [title]="'Statistics of events'" [cardClass]="'card-statistics'">
        <div class="row ">
          <div class="col-sm-4 ">
            <div class="row stats-block">
              <div class="col-lg-6 ">
                <div class="progressbar-v-1 text-center">
                  <div data-label="90%" class="radial-bar radial-bar-90 radial-bar-lg"></div>
                </div>
              </div>
              <div class="col-lg-6 ">
                <h2 class="f-w-600 ">9/10</h2>
                <p class="text-muted">6 Credits</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class="row stats-block">
              <div class="col-lg-6 ">
                <div class="progressbar-v-1 text-center">
                  <div data-label="50%" class="radial-bar radial-bar-50 radial-bar-lg radial-bar-danger"></div>
                </div>
              </div>
              <div class="col-lg-6 ">
                <h2 class="f-w-600 ">2/4</h2>
                <p class="text-muted ">Small Gift</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class="row stats-block">
              <div class="col-lg-6 ">
                <div class="progressbar-v-1 text-center">
                  <div data-label="75%" class="radial-bar radial-bar-75 radial-bar-lg radial-bar-warning"></div>
                </div>
              </div>
              <div class="col-lg-6 ">
                <h2 class="f-w-600 ">3/4</h2>
                <p class="text-muted ">A Note Book</p>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <div class="b-t-default p-t-20 m-t-30">
          <div class="row ">
            <div class="col-sm-4 ">
              <h6 class="d-inline-block m-r-10 ">Event Attended</h6>
              <span class="label bg-c-blue ">15</span>
            </div>
            <div class="col-sm-4 ">
              <h6 class="d-inline-block m-r-10 ">Rewards</h6>
              <span class="label bg-c-pink ">12</span>
            </div>
          </div>
        </div>
        
      </app-card>
    </div>

    <div class="col-md-12" *ngIf="isAdmin==='true'">
        <div class="md-tabs">
            <ngb-tabset justify="fill">
                <ngb-tab title="Events">
                  <ng-template ngbTabContent>
                    <div  class="m-t-15">
                      <!-- personal card start -->
                      <div class="card">
                        <div class="card-header">
                          <h5 class="card-header-text">Events</h5>
                        </div>
                        <div class="card-body" >
                            <div class="card-comment " *ngFor="let event of events">
                                <div class="card-block-small" *ngIf="event.status==0">
                                  <img class="img-radius img-50" src="assets/images/event.png" alt="user-4">
                                  <div class="comment-desc">
                                      <div class="label-main">
                                          <label *ngFor="let tag of event.tags" class="label label-primary">{{tag?.name}}</label>
                                      </div>
                                      <a [routerLink]="['/home/events/detail']" [queryParams]="{id:event.id}"><h4>{{event?.name}}</h4></a>
                                    <div class="comment-btn">
                                      <i>{{event?.eventDate | date:'yyyy-MM-dd'}}  {{event.startTime}} ~~ {{event.endTime}}</i>
                                    </div>
                                    <div>
                                        <button class="btn bg-c-green btn-round btn-comment " (click)="approveById(event?.id)">Approv</button>
                                        <button class="btn bg-c-pink btn-round btn-comment " (click)="rejectById(event?.id)">Reject</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <!-- end of card-body -->
                      </div>
                      <!-- personal card end-->
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Rewards">
                    <ng-template ngbTabContent>
                      <div class="m-t-15">
                        <!-- info card start -->
                        <div class="">
        
                        </div>
                        <div class="card">
                          <div class="card-header">
                            <h5 class="card-header-text">Rewards</h5>
                          </div>
                          <div class="card-body" >
                              <div class="card-comment " *ngFor="let reward of rewards">
                                  <div class="card-block-small" *ngIf="reward.status==0">
                                    <img class="img-radius img-50" src="assets/images/reward.png" alt="user-4">
                                    <div class="comment-desc">
                                        <div class="label-main">
                                            <label *ngFor="let tag of reward.tags" class="label label-primary">{{tag?.name}}</label>
                                        </div>
                                      <a [routerLink]="['/home/rewards/detail']" [queryParams]="{id:reward.id}"><h6>{{reward?.name}}</h6></a>
                                      <div class="comment-btn">
                                          
                                      </div>
                                      <div class="date">
                                          <button class="btn bg-c-green btn-round btn-comment " (click)="approveRewardById(reward?.id)">Approve</button>
                                          <button class="btn bg-c-pink btn-round btn-comment " (click)="rejectRewardById(reward?.id)">Reject</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                        <!-- info card end -->
                      </div>
                    </ng-template>
                  </ngb-tab>
              </ngb-tabset>
          </div>
        
    </div>

</div>
