<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material">
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">You forgot your Password? </h3>
                  <h3 class="text-left">Don't worry.</h3>
                </div>
              </div>
              <p class="text-inverse b-b-default text-right">Back to <a [routerLink]="['/authentication/login/with-bg-image']">Login.</a></p>
              <form class="md-float-material" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
                <div class="input-group">
                  <input type="input" class="form-control" formControlName="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    placeholder="Your Email Address">
                  <div style="color: red" *ngIf="!emailForm.controls.email.errors?.emailExists">Email does not exists.</div>
                  <div class="messages text-danger error" *ngIf="submitted && emailForm.controls.email.errors?.required">Please
                    enter correct email</div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button [disabled]="!emailForm.controls.email.errors?.emailExists" type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Reset
                      and send me a new Password</button>
                  </div>
                </div>
              </form>
              <hr/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>