<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>{{news?.title}}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                            <li class="breadcrumb-item"><a [routerLink]="['/home/news']">News</a></li>
                            <li class="breadcrumb-item"><a [routerLink]="['/home/news/detail']" [queryParams]="{id:news?.id}">{{news?.title}}</a></li>
                        </ol>
                    </nav>
                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->
<section id="blog-single" class="pt-90 pb-120 gray-bg">
        <div class="container">
           <div class="row">
              <div class="col-lg-8">
                  <div class="blog-details mt-30">
                      <div class="thum">
                          <img src={{news?.imageUrl}} width="1000" alt="New Details">
                      </div>
                      <div class="cont">
                          <h3>{{news?.title}}</h3>
                          <ul>
                               <li><a href="#"><i class="fa fa-calendar"></i>{{news?.postedDate  | date:'yyyy-MM-dd'}}</a></li>
                               <li><a href="#"><i class="fa fa-user"></i>{{news?.author}}</a></li>
                           </ul>
                           <quill-view [preserveWhitespace]="true" [content]="news?.content"></quill-view>

                      </div> <!-- cont -->
                  </div> <!-- blog details -->
              </div>
              <div class="col-lg-4">
                <div class="saidbar">
                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <div class="saidbar-post mt-30">
                                <h4>Popular News</h4>
                                <ul *ngFor="let singleNews of popularNews">
                                    <li>
                                        <a [routerLink]="['/home/news/detail']" [queryParams]="{id:singleNews?.id}" (click)="doRefresh(singleNews?.id)">
                                             <div class="singel-post">
                                                <div class="thum">
                                                    <img src={{singleNews?.imageUrl}} alt="Blog">
                                                </div>
                                                <div class="cont">
                                                    <h6>{{singleNews?.title}}</h6>
                                                    <span>{{singleNews?.postedDate | date:'yyyy-MM-dd'}}</span>
                                                </div>
                                            </div> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
           </div> <!-- row -->
        </div> <!-- container -->
</section>
    
