<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>{{event?.name}}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                            <li class="breadcrumb-item"><a [routerLink]="['/home/events']">Events</a></li>
                            <li class="breadcrumb-item"><a [routerLink]="['/home/events/detail']" [queryParams]="{id:event?.id}">{{event?.name}}</a></li>
                        </ol>
                    </nav>
                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->

<!--====== EVENTS PART START ======-->

<section id="event-singel" class="pt-120 pb-120 gray-bg">
    <div class="container">
        <div class="events-area">
            <div class="row">
                <div class="col-lg-8">
                    <div class="events-left">
                        <h3>{{event?.name}}</h3>
                        <div class="label-main" *ngIf="name">
                            Tag: <label *ngFor="let tag of event?.tags" class="label label-default"><a [routerLink]="['/home/event/checkIn']" (click)="deleteTag(event?.id,tag?.id)" [queryParams]="{id:event?.id}">{{tag?.name}} x</a></label>
                        </div>
                        <div class="m-3" style="float:right" *ngIf="isAdmin=='true' && event?.status==1">
                            <form class="form-inline f-right" [formGroup]="addTagForm" (ngSubmit)="onAdd()">
                                <div>
                                    <select name="tag" formControlName="tag" class="form-control form-control-default" class="form-control" [ngClass]="{ 'is-invalid': submitted && tagForm.tag.errors }">
                                        <option *ngFor="let tag of tags" value={{tag.id}}>{{tag.name}}</option>
                                    </select>
                                    <div class="messages text-danger error" *ngIf="submitted && addTagForm.controls.Tag.errors?.required">Tag can't be blank</div>                    
                                </div>
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Tag</button>
                            </form>
                        </div>
                        <img src={{event?.imageUrl}} height="404" width="722" alt={{event?.name}}>
                        <br>
                        <h3>Description:</h3>
                        <br>
                        <quill-view [preserveWhitespace]="true" [content]="event?.description"></quill-view>
                        <br>
                        <br>
                        <button *ngIf="event?.status == 1" type="button" class="btn btn-primary waves-effect waves-light d-inline-block md-trigger" (click)="scan()"> <i class="icofont icofont-plus m-r-5"></i> Scan
                        </button>
                        <br>
                        <br>
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Attendee</th>
                                <th scope="col">Name</th>
                                <th scope="col">Username</th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let attendee of event?.attendees;index as i">
                              <tr>
                                <th scope="row">{{i+1}}</th>
                                <td>{{attendee?.firstName}} {{attendee?.lastName}}</td>
                                <td>{{attendee?.username}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div> <!-- events left -->
                </div>
                <div class="col-lg-4">
                    <div class="events-right">
                        <div class="events-coundwon bg_cover" data-overlay="8" >
                            <h5>Event Infomation</h5>
                        </div> <!-- events coundwon -->
                        <div class="events-address mt-30">
                            <ul>
                                <li>
                                    <div class="singel-address">
                                        <div class="icon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <div class="cont">
                                            <h6>Start Time</h6>
                                            <span>{{event?.eventDate | date:'yyyy-MM-dd':'UTC'}}  {{event?.startTime}}</span>
                                        </div>
                                    </div> <!-- singel address -->
                                </li>
                                <li>
                                    <div class="singel-address">
                                        <div class="icon">
                                            <i class="fa fa-bell-slash"></i>
                                        </div>
                                        <div class="cont">
                                            <h6>Finish Time</h6>
                                            <span>{{event?.eventDate | date:'yyyy-MM-dd':'UTC'}}  {{event?.endTime}}</span>
                                        </div>
                                    </div> <!-- singel address -->
                                </li>
                                <li>
                                    <div class="singel-address">
                                        <div class="icon">
                                            <i class="fa fa-map"></i>
                                        </div>
                                        <div class="cont">
                                            <h6>Loction</h6>
                                            <span>{{event?.location}}</span>
                                        </div>
                                    </div> <!-- singel address -->
                                </li>
                            </ul>
                        </div> <!-- events address -->
                    </div> <!-- events right -->
                </div>
            </div> <!-- row -->
        </div> <!-- events-area -->
    </div> <!-- container -->
</section>
