<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-banner-cont">
          <h2>{{reward?.name}}</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
              <li class="breadcrumb-item"><a [routerLink]="['/home/rewards']">Rewards</a></li>
              <li class="breadcrumb-item"><a [routerLink]="['/home/rewards/detail']" [queryParams]="{id:reward?.id}">{{reward?.name}}</a></li>
            </ol>
          </nav>
        </div> <!-- page banner cont -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->

<!--====== EVENTS PART START ======-->

<section id="reward-singel" class="pt-120 pb-120 gray-bg">
  <div class="container">
    <div class="events-area">
      <div class="row">
        <div class="col-lg-8">
          <div class="events-left">
            <h3>{{reward?.name}}</h3>
            <div class="label-main" *ngIf="name">
              Tag: <label *ngFor="let tag of reward?.tags" class={{tag?.type}}>{{tag?.name}}</label>
            </div>
            <br>
            <h3>Description:</h3>
            <br>
            <quill-view [preserveWhitespace]="true" [content]="reward?.description"></quill-view>
            <br>
            <br>
            <div class="table-responsive">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                  <div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <div style="text-align: right;">
                    <label>Search:
                      <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search By Event Name">
                    </label>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter :['name']: filterQuery" #mf="mfDataTable"
                  [mfRowsOnPage]="5">
                  <thead>
                    <tr>
                      <th>
                        <mfDefaultSorter by="name">Name</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="location">Location</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="date">Date</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="organizer">Organizer</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter>Action</mfDefaultSorter>
                      </th>
                    </tr>
                    <tr>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of mf.data">
                      <td>{{item?.name}}</td>
                      <td>{{item?.location}} </td>
                      <td>{{item?.eventDate | date:'yyyy-MM-dd'}}</td>
                      <td>{{item?.organizer.firstName}} {{item?.organizer.lastName}}</td>
                      <button type="button" (click)="saveId(item?.id)" class="btn btn-primary" data-toggle="modal" data-target="#addEvent">
                        Add
                      </button>

                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="10">
                        <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <br>
            <br>
            <br>
            <h3>Qualified Events</h3>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Events</th>
                    <th scope="col">Name</th>
                    <th scope="col">Loction</th>
                    <th scope="col">Date</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Organizer</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let event of events;index as i">
                  <tr>
                    <th scope="row">{{i+1}}</th>
                    <td><a [routerLink]="['/home/events/detail']" [queryParams]="{id:event.id}">{{event?.name}}</a></td>
                    <td>{{event?.location}} </td>
                    <td>{{event?.eventDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{event?.startTime}} </td>
                    <td>{{event?.endTime}} </td>
                    <td>{{event?.organizer.firstName}} {{event?.organizer.lastName}}</td>
                    <td>
                      <button type="button" (click)="saveId(event?.id)" class="btn btn-primary" data-toggle="modal" data-target="#deleteEvent">
                        Delete
                      </button>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
            <br>
            <br>
            <h3>Winners</h3>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Winner</th>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                  </tr>
                </thead>
                <tbody *ngFor="let winner of winners;index as i">
                  <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{winner?.firstName}} {{winner?.lastName}}</td>
                    <td>{{winner?.username}}</td>
                    <td>{{winner?.email}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> <!-- rewards left -->
        </div>
        <div class="col-lg-4">
          <div class="events-right">
            <div class="events-coundwon bg_cover" data-overlay="8">
              <h5>Event Infomation</h5>
            </div> <!-- events coundwon -->
            <div class="events-address mt-30">
              <ul>
                <li>
                  <div class="singel-address">
                    <div class="icon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="cont">
                      <h6>Start Date</h6>
                      <span>{{reward?.startDate | date:'yyyy-MM-dd':'UTC'}}</span>
                    </div>
                  </div> <!-- singel address -->
                </li>
                <li>
                  <div class="singel-address">
                    <div class="icon">
                      <i class="fa fa-bell-slash"></i>
                    </div>
                    <div class="cont">
                      <h6>End Date</h6>
                      <span>{{reward?.endDate | date:'yyyy-MM-dd':'UTC'}} </span>
                    </div>
                  </div> <!-- singel address -->
                </li>
              </ul>
            </div> <!-- events address -->
          </div> <!-- events right -->
        </div>

      </div> <!-- row -->
      <div class="modal fade" id="deleteEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure to delete event from this reward?You need get approval from admin after deleting new qualified event.(If you
              are Reward Provider,you do not need get approval again).
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" (click)="deleteEventFromRewardById(id)">Yes</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure to add event to this reward?You need get approval from admin after adding new qualified event.(If you are Reward
              Provider,you do not need get approval again).
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="addEventToRewardById(id)">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- rewards-area -->
  </div> <!-- container -->
</section>